.prova {
	vertical-align: middle;
 }

 .prova1 {
	float:right
 }

 .prova2 {
 	float:left;
 }

 .prova3 {
 	margin-top: 0%;
 	background-color: #777;
 }

 .footer-color {
 	background-color: #292929;	
 }

 .bg-image-home {
 	background-image: url("../vancouver_backgorund.jpg");
 	background-repeat: no-repeat;
    background-size: 1920px 1280px;
 }

 .bg-color-gray {
 	background-color: #ddd;
 }

 .bg-color-red {
 	background-color: #ff3b3f;
 }

 .bg-color-blue {
 	background-color: #caebf2;
 }

 .bg-color-neutral {
 	background-color: #efefef;
 }

 .pd-bottom-section {
 	padding-bottom: 5%;
 }

 .pd-bottom-home {
 	padding-bottom: 30%;
 }

 .pd-bottom-top {
 	padding-top: 5%;
 }

 .pd-top {
 	padding-top: 7%;
 }

 .pd-right {
 	padding-right: 20%
 }

 .mg.right {
 	margin-right: 20%;
 }

 .pd-1-bottom {
 	padding-bottom: 3%;
 }

 .mg-bottom {
 	margin-bottom: 5%;
 }

 .mg-top {
 	margin-top: 5%;
 }

 .mg-1-bottom {
 	margin-bottom: 6%;
 }

 .mg-1-top {
 	margin-top: 14%;
 }

  .mg-5-top {
 	margin-top: 7%;
 }

 .mg-4-top {
 	margin-top: 5%;
 }

 .ico-prova {
 	color: #1E90FF;
 }

.centerImage {
text-align: center;
display: block;
}
 
/*a:hover{background-color: red; }*/

a.footer:hover{
    color: #C9C9C9;
}

a.footer{
	color: #C9C9C9;
}

.footer {
	color: white;
}

body {
	padding:0;
}
