{% extends 'base.html.twig' %}


{% block body %}
	<section id="description" class=" bg-image-home pd-bottom-home pd-bottom-top">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h1 class="text-center">How to find a job in Vancouver?</h1>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<h3 class="text-center">Discover the basic steps for finding a job at Vancouver, BC </h3>
				</div>
			</div>
		</div>
	</section>

	<section id="interview" class="pd-bottom-section pd-bottom-top bg-color-blue">
		<div class="container">
			<div class="row">
				<div class="col-md-12 pd-1-bottom">
					<h1 class="text-center">How to have an Interview at Vancouver?</h1>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 text-center">
					<a href={{ path('interview') }} class="btn btn-primary">Learn the most common questions in a interview</a>
				</div>
			</div>
		</div>
	</section>

	<section id="networking" class="bg-color-gray">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h1>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</h1>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<h1>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</h1>
				</div>
			</div>
		</div>
	</section>

	<section id="resume" class="bg-color-red">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h1>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</h1>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<h1>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</h1>
				</div>
			</div>
		</div>
	</section>

	<section id="job_websites" class="bg-color-neutral">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h1>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</h1>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<h1>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</h1>
				</div>
			</div>
		</div>
	</section>
{% endblock %}