{% extends 'base.html.twig' %}


{% block body %}
	<div class="row mg-5-top">
		<div class="col-md-6 col-md-offset-3">
		<h1 class="text-center .mg-1-top">25 questions that you must prepare before an Interview</h1>
	</div>
	<div class="row mg-1-bottom mg-1-top">	
		<img class="center-block" src="/interview_image.jpg" height="530.25" width="795.375"></img>
	</div>
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			{% for i in 0..10 %}
		    	<h3> {{ i }}. Lorem ipsum dolor sit amet, consectetuer adipiscing elit? </h1>
		    	<p class="pd-1-bottom">Git is Working. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.</p>
			{% endfor %}
		</div>
	</div>
{% endblock %}